body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hidden{
    display: none;
}

#main-container{
    width: 500px;
    margin: 50px auto;
    text-align: center;
}

#polis-container{
    /*display: none;*/
    margin: 0 20px 0 10px;
}

#button-holder{
    width: 249px;
    margin: 15px auto;
}

button{
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
    padding: 10px;
    font-size: 1.3em;
}

.orange{
    background-color: #ee7155;
    border: 1px solid #9e503c;
    font-weight: lighter;
    color: white;
    cursor: pointer;
}

.grey{
    background-color: #c7c7c7;
    color: #9e9e9e;
    font-weight: lighter;
    font-style: italic;
}

#privacy, #support{
    text-align: center;
    color: #9e9e9e;
}

#privacy a, #support a{
    text-decoration: none;
    color: #9e9e9e;
}

#help-note{
    color: #ee7155;
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
}